node_modules
npm-debug.log

*.md
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.test
.env.productiona

test
coverage
.nyc_output

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db

dist
build

logs
*.log

tmp
temp
